body {
    font-family: Arial, sans-serif;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    margin: 0;
    padding: 20px;
}

h1 {
    color: #fff;
}

p {
    color: #fff;
    line-height: 1.6;
}
